html {
    background: #211c37;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

/* body */

.team {
    display: flex;
    width: 100%;
}

.status {
    display: block;
    align-content: center;
    width: 75%;
    margin: 6% 0% 0% 10%;
    color: #FFFAFA;
    font-family: 'Comfortaa', cursive;
    font-size: 64px;
    text-align: center;
}

.photo {
    display: block;
    width: 25%;
    margin: 2% 15% 0% 10%;
}

.image {
    margin-top: -180px;
    width: 580px;
    height: 815px;
    animation: show 4s infinite;
}

/* animation */

@keyframes show {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(90deg); }
    100% { transform: rotate(0deg); }
}

.message {
    display: block;
    margin-top: -280px;
    align-content: center;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: #FFFAFA;
    font-size: 54px;
}

.button {
    text-align: center;
}

.button a {
    display: inline-block;
    margin: 30px auto;
    color: #FFFAFA;
    text-decoration: none;
    padding: .5em 2em;
    border: 4px solid;
    border-radius: 13px;
    transition: 0.2s;
    font-family: 'Comfortaa', cursive;
    font-size: 34px;
    align-content: center;
}

.button a:hover { background: rgba(255,255,255,.2); }
.button a:active { background: white; }

/* media */

@media screen and (max-width: 1250px){
    .image {
        margin-top: -120px;
        width: 386px;
        height: 543px;
    }

    .message{
        font-size: 44px;
        margin-top: -186px;
    }

    .status{
        font-size: 50px;
    }
}

@media screen and (max-width: 1030px){
    .message{
        font-size: 34px;
    }

    .status{
        font-size: 40px;
    }
}

@media (max-width: 670px) {
    .image {
        margin-top: -53px;
        width: 171px;
        height: 241px;
    }

    .message{
        font-size: 15px;
        margin-top: -62px;
    }

    .status{
        font-size: 18px;
    }

    .button a {
        margin: 15px auto;
        border: 2px solid;
        border-radius: 10px;
        font-size: 18px;
    }
}

/* footer */

.wrapper {
	display: table;
	height: 100%;
}

.content {
	display: table-row;
	height: 100%;
}

.footer {
    height: 30px;
    background: #211c37;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.rights {
    margin-top: 0px;
}

a {
    color: #FFFAFA;
    text-decoration: none;
}

/* media */

@media screen and (max-width: 1250px){
    .wrapper {
        padding-bottom : 20px;
    }
    
    .footer {
        height: 30px;
        background: #211c37;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}