html {
    background: #fff;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

/*HEADER*/
header {  
    background: #473FA8;   
}

nav{
    letter-spacing: 1px;
    height: 30px;
    color: #fff;
    font-size: 30px;
    border-spacing: 25px;
    display: inline-block;
    margin-left: auto;
}

nav a{
    bottom: 15px;
}

.social_nets{
    position: relative;
    left: 900px;
    bottom: 3px;
    filter: grayscale(50%);
}

.social_nets:hover{
    filter: grayscale(0%);
}

#header-menu {
    text-align: right;
    margin: 5px;
}

.link-hover-center a {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.link-hover-center a:after {
    display: block;
    content: "";
    background-color: #fff;
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.link-hover-center a:hover:after,
.link-hover-center a:focus:after {
    width: 100%;
}

.logo {
    margin-top: 5px;
    padding-left: 10px;
}

.active {
    border-bottom: 3px solid #fff;
}

/*BODY*/

body{
    background-color: white;
}

.responsive {
    width: 100%;
    margin: 0 1em 1em 0;
}

/*carousel*/
.carousel {
    padding: 20px;
    -webkit-perspective: 500px;
            perspective: 500px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.carousel > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}

.carousel figure {
    margin: 0;
    width: 40%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    cursor: pointer; 
}

.carousel figure img {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0px;
}

.carousel figure img:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
}

.carousel nav {
    margin: 20px 0 0;
}

.carousel nav button {
    margin: 0 5px;
    cursor: pointer;
    color: #333;
    background: none;
    border: 1px solid;
    letter-spacing: 1px;
}

/* Expanding image text */
.clean{
    display: none;
    font-size: 30px;
}

/*FOOTER*/
.footer {
    height: 40px;
    background: #473FA8;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.rights {
    margin-top: 10px;
}

a {
    color: white;
    text-decoration: none;
}
