html {
    background: #211c37;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

/* scrollbar */

::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
    }

    ::-webkit-scrollbar-track {
    background-color:#9efff5
    }

    ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#fff;
    }

    ::-webkit-scrollbar-thumb:hover{
      background-color: #ded;
    }

    ::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
    }
    
    ::-webkit-scrollbar{
    width: 4px;
    }
  
  /* navicon */
  
  .menu__toggler {
      position: fixed;
      top: 20px;
      left: 20px;
      z-index: 999;
      height: 28px;
      width: 28px;
      outline: none;
      cursor: pointer;
      display: flex;
      align-items: center;
  }

  .menu__toggler span, .menu__toggler span::before, .menu__toggler span::after {
      position: absolute;
      content: '';
      width: 28px;
      height: 2.5px;
      background: #9efff5;
      border-radius: 20px;
      transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
  }

  .menu__toggler span::before {
      top: -8px;
  }

  .menu__toggler span::after {
      top: 8px;
  }

  .menu__toggler.active > span {
      background: transparent;
  }

  .menu__toggler.active > span::before, .menu__toggler.active > span::after {
      background: #211c37;
      top: 0px;
  }

  .menu__toggler.active > span::before {
      transform: rotate(-225deg);
  }

  .menu__toggler.active > span::after {
      transform: rotate(225deg);
  }

  /* menu panel */

  .menu {
      position: fixed;
      left: -100%;
      z-index: 998;
      font-family: 'Comfortaa', cursive;
      background: rgba(250, 250, 250, 0.7);
      clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
      width: 15%;
      height: 100%;
      padding: 70px;
      display: flex;
      flex-direction: column;
      transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
  }

  @media only screen and (max-width: 1160px) {
      .menu {
          left: -100%;
          width: 250px;
          padding: 50px;
      }
  }

  .menu.active {
      left: 0;
  }

  .menu p a{
      font-size: 1.8rem;
      color: #211c37;
  }

/* contacts */

.container{
    margin: 35px;
    display: block;
    text-align: center;
  }

  .social_nets a{
    margin: 3px;
    padding-top: 10px;
    filter: grayscale(0%);
  }

  .social_nets a:hover{
    filter: grayscale(80%);
  }

/* footer */

.wrapper {
	position: relative;
	min-height: 100%;
}

.content {
	padding-bottom: auto;
}

.footer {
    height: 40px;
    background: #211c37;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.rights {
    margin-top: 10px;
}

a {
    color: #9efff5;
    text-decoration: none;
}
