html {
    background: #211c37;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

/* scrollbar */

::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
}

::-webkit-scrollbar-track { background-color:#F9D19A }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color:#fff;
}

::-webkit-scrollbar-thumb:hover{ background-color: #ded; }

::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:4px;
  height:0px
}

::-webkit-scrollbar{ width: 4px; }

/* navicon */

.menu__toggler {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
    height: 28px;
    width: 28px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu__toggler span, .menu__toggler span::before, .menu__toggler span::after {
    position: absolute;
    content: '';
    width: 28px;
    height: 2.5px;
    background: #FFFAFA;
    border-radius: 20px;
    transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.menu__toggler span::before { top: -8px; }
.menu__toggler span::after  { top: 8px;  }

.menu__toggler.active > span { background: transparent; }

.menu__toggler.active > span::before, .menu__toggler.active > span::after {
    background: #211c37;
    top: 0px;
}

.menu__toggler.active > span::before { transform: rotate(-225deg); }
.menu__toggler.active > span::after  { transform: rotate(225deg);  }

/* menu panel */

.menu {
    position: fixed;
    left: -100%;
    z-index: 998;
    font-family: 'Comfortaa', cursive;
    background: rgba(250, 250, 250, 0.97);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    width: 15%;
    height: 100%;
    padding: 70px;
    display: flex;
    flex-direction: column;
    transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}

@media only screen and (max-width: 1260px) {
    .menu {
        left: -100%;
        width: 250px;
        padding: 50px;
    }
}

.menu.active { left: 0; }

.menu p a{
    font-size: 1.8rem;
    color: #211c37;
}

@media only screen and (max-width: 1000px) {
    .menu p:nth-child(4){
        display: none;
    }
}

/* body */

body {
    font-family: 'Comfortaa', cursive; 
    margin:0;
}

.up_view{
    position: absolute;
    width: 952px;
    height: 153px;
    left: 206px;
    top: 10px;
}

.header_1{
    position: absolute;
    width: 544px;
    height: 36px;
    left: 205px;
    top: 183px;

    font-family: Comfortaa;
    font-style: normal;
    font-weight: 1;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    
    color: #F9D19A;
}

.content_1{
    position: absolute;
    width: 490px;
    height: 378px;
    left: 245px;
    top: 230px;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: 1;
    font-size: 18px;
    line-height: 38px;
    color:#F9D19A;
}

.content_1 a{
    color: #F9D19A;
    cursor: pointer;
    text-decoration: underline;
}

.down_view{
    position: absolute;
    width: 952px;
    height: 153px;
    left: 206px;
    top: 550px;
}

.mockup1{
    position: absolute;
    width: 700px;
    height: 700px;
    left: 656px;
    top: 20px;
}

.tel{
    position: absolute;
    width: 412px;
    height: 724px;
    left: 208px;
    top: 806px;
}

.mockup2{
    position: absolute;
    width: 700px;
    height: 700px;
    left: 65px;
    top: 830px;
}

.header_2{
    position: absolute;
    width: 544px;
    height: 36px;
    left: 705px;
    top: 1006px;

    font-family: Comfortaa;
    font-style: normal;
    font-weight: 1;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    
    color: #F9D19A;
}

.content_2{
    position: absolute;
    width: 490px;
    height: 378px;
    left: 745px;
    top: 1056px;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: 1;
    font-size: 18px;
    line-height: 38px;
    color:#F9D19A;
}

.arr{
    position: absolute;
    width: 196px;
    height: 550px;
    left: 663px;
    top: 1670px;
}

.header_3{
    position: absolute;
    width: 544px;
    height: 36px;
    left: 205px;
    top: 1680px;

    font-family: Comfortaa;
    font-style: normal;
    font-weight: 1;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    
    color: #F9D19A;
}

.content_3{
    position: absolute;
    width: 402px;
    height: 378px;
    left: 245px;
    top: 1720px;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: 1;
    font-size: 18px;
    line-height: 38px;
    color:#F9D19A;
}

.mockup3{
    position: absolute;
    width: 700px;
    height: 700px;
    left: 686px;
    top: 1610px;
}

.header_4{
    position: absolute;
    width: 544px;
    height: 36px;
    left: 455px;
    top: 2310px;

    font-family: Comfortaa;
    font-style: normal;
    font-weight: 1;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    
    color: #F9D19A;
}

.left{
    position: absolute;
    height: 670px;
    width: 137px;
    left: 403px;
    top: 2350px;
}

.right{
    position: absolute;
    height: 670px;
    width: 137px;
    left: 893px;
    top: 2350px;
}

.mockup4{
    position: absolute;
    width: 700px;
    height: 700px;
    left: 0px;
    top: 2390px;
}

.mockup5{
    position: absolute;
    width: 700px;
    height: 700px;
    left: 736px;
    top: 2390px;
}

.mockup6{
    position: absolute;
    width: 700px;
    height: 700px;
    left: 366px;
    top: 2390px;
}

.hist{
    position: absolute;
    width: 80px;
    height: 587px;
    left: 663px;
    top: 3270px;
}

.mockup7{
    position: absolute;
    width: 700px;
    height: 700px;
    left: 100px;
    top: 3230px;
}

.header_5{
    position: absolute;
    width: 544px;
    height: 36px;
    left: 765px;
    top: 3370px;

    font-family: Comfortaa;
    font-style: normal;
    font-weight: 1;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    
    color: #F9D19A;
}

.content_5{
    position: absolute;
    width: 402px;
    height: 378px;
    left: 845px;
    top: 3420px;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: 1;
    font-size: 18px;
    line-height: 38px;
    color:#F9D19A;
}

.header_6{
    position: absolute;
    width: 644px;
    height: 36px;
    left: 405px;
    top: 3970px;

    font-family: Comfortaa;
    font-style: normal;
    font-weight: 1;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    
    color: #F9D19A;
}

/* footer */

.wrapper {
	min-height: 100%;
}

.footer {
    height: 30px;
    width: 400px;
    top: 4070px;
    left: 525px;
    background: #211c37;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.rights { margin-top: 0px; }

a {
    color: #FFFAFA;
    text-decoration: none;
}