html {
    background: #473FA8;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

/*HEADER*/
header {  
    background: #473FA8;   
}

nav{
    letter-spacing: 1px;
    height: 30px;
    color: #fff;
    font-size: 30px;
    border-spacing: 25px;
    display: inline-block;
    margin-left: auto;
}

nav a{
    bottom: 15px;
}

.social_nets{
    float: right;
    position: relative;
    right: 25px;
    top: 7px;
    filter: grayscale(50%);
}

.social_nets:hover{
    filter: grayscale(0%);
}

#header-menu {
    text-align: right;
    margin: 5px;
}

.link-hover-center a {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
.link-hover-center a:after {
    display: block;
    content: "";
    background-color: #fff;
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.link-hover-center a:hover:after,
.link-hover-center a:focus:after {
    width: 100%;
}

.logo {
    margin-top: 5px;
    padding-left: 10px;
}

.active {
    border-bottom: 3px solid #fff;
}

/*PORTFOLIO */
.portfolio {
    display: grid;  
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 200px);     
}

.portfolio-theme-1 > p {
    text-align: center;
    font-size: 30px;
    color: #80DDD9;
}

#example-1 {
   background: url("image/about-us-2.png"); 
   background-size: 100% 100%;
}
#example-2 {
    background: url("image/Future-examples.png"); 
    background-size: 100% 100%;
    color:black;
}
#example-3 {
    background: url("image/Future-examples.png"); 
    background-size: 100% 100%;
    color:black;
 }
#example-4 {
    background: url("image/Future-examples.png"); 
    background-size: 100% 100%;
    color:black;
}
#example-5 {
    background: url("image/Future-examples.png"); 
    background-size: 100% 100%;
    color:black;
}
#example-6 {
    background: url("image/Future-examples.png"); 
    color:black;
    background-size: 100% 100%;
}

.example {
    background: rgba(0,0,0,0.45);
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
    color: #fff;
    overflow: hidden;
}

.example .title{
    font-size: 16pt;
    line-height: 1.2em;
    height: 4.8em;
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 10pt;
    overflow: hidden;
}

.example:hover .title{
    -webkit-transition: all 0.4s cubic-bezier(0,0,0.58,1);
    bottom: 0px;
    font-size: 24px;
}

.title{
  bottom: -250px;
}

/*FOOTER*/
.footer {
    height: 40px;
    background: #473FA8;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.rights {
    margin-top: 10px;
}

a {
    color: white;
    text-decoration: none;
}
