html {
    background: #211c37;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

/* scrollbar */

::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:5px;
  height:0px
  }

  ::-webkit-scrollbar-track {
  background-color:#9efff5
  }

  ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color:#fff;
  }

  ::-webkit-scrollbar-thumb:hover{
    background-color: #ded;
  }

  ::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:4px;
  height:0px
  }

  ::-webkit-scrollbar{
  width: 4px;
  }

/* navicon */

.menu__toggler {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
    height: 28px;
    width: 28px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu__toggler span, .menu__toggler span::before, .menu__toggler span::after {
    position: absolute;
    content: '';
    width: 28px;
    height: 2.5px;
    background: #9efff5;
    border-radius: 20px;
    transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.menu__toggler span::before {
    top: -8px;
}

.menu__toggler span::after {
    top: 8px;
}

.menu__toggler.active > span {
    background: transparent;
}

.menu__toggler.active > span::before, .menu__toggler.active > span::after {
    background: #211c37;
    top: 0px;
}

.menu__toggler.active > span::before {
    transform: rotate(-225deg);
}

.menu__toggler.active > span::after {
    transform: rotate(225deg);
}

/* menu panel */

.menu {
    position: fixed;
    left: -100%;
    z-index: 998;
    font-family: 'Comfortaa', cursive;
    background: rgba(250, 250, 250, 0.7);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    width: 15%;
    height: 100%;
    padding: 70px;
    display: flex;
    flex-direction: column;
    transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}

@media only screen and (max-width: 1260px) {
    .menu {
        left: -100%;
        width: 250px;
        padding: 50px;
    }
}

.menu.active {
    left: 0;
}

.menu p a{
    font-size: 1.8rem;
    color: #211c37;
}

/* body */

body {
    background-color: #211c37 !important;
    height: 100%;
    overflow: hidden;
}

.responsive{
    width: 100%;
    margin: 0 1em 1em 0;
}

.information {
    display: grid;
    margin: 5% 3% 15% 3%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
    row-gap: 6%;
    column-gap: 8%;
    color: #9efff5;
    font-family: 'Comfortaa', cursive;
    font-size: 23px;
    justify-content: center;
}

/* media */

@media only screen and (max-width: 1260px){
  .information{
    row-gap: 0;
  }
}


.information div{
    padding: 3% 0%;
    justify-self: end;
}

.information div a{
  text-decoration: underline;
}

h1{
    text-align: center;
    font-size: 30px;
}

.info_header h1{
  color: #9efff5;
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  justify-content: center;
}

/* portfolio */

.portfolio {
  display: grid;
  margin: 3% 10% 5% 10%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 350px));
  grid-auto-rows: 200px;
  justify-content: center;
  justify-self: center;
  column-gap: 10%;
  row-gap: 15%;
}

/* media */

@media only screen and (max-width: 1260px){
  .portfolio{
    row-gap: 5%;
  }
}

#example-1 {
 background: url("image/about-us-2.png");
 background-size: 150% 100%;
 background-position: 50%;
}

#example-2 {
  background: url("image/l2.jpg");
  background-size: 100% 100%;

}

#example-3 {
  background: url("image/spotify.jpg");
  background-size: 100% 100%;
}

/* media */

@media (max-width: 1200px){
  #example-0{
    display: none;
    visibility: hidden;
  }
}

.example{
  font-family: 'Comfortaa', cursive;
  border-radius: 50% 50% 50% 50% / 40px 40px 40px 40px;
  background: rgba(0,0,0,0);
  position: relative;
  transition: all 0.4s cubic-bezier(.99,.99,0,.61);
  color: #ffffff;
  overflow: hidden;
}

.example a{
  color: #211c37;
  cursor: pointer;
}

.example .title{
  font-size: 16pt;
  line-height: 2em;
  height: 9em;
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 10pt;
  overflow: hidden;
}

.title {
  visibility: hidden;
}

.example:hover .title{
  transition: all 0.4s cubic-bezier(0,0,0.38,1);
  visibility: visible;
  bottom: -20px;
  font-size: 24px;
  background-color: rgba(226, 226, 226, 0.6);
}

/* carousel */

.slider {
  position: relative;
  height: 50vw;
}

.slider__control {
  z-index: 2;
  position: absolute;
  left: 5%;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-left: -35px;
  border-radius: 50%;
  background: #fff;
  transition: background-color 0.3s;
  cursor: pointer;
}

.slider__control--right {
  left: 97%;
}

.slider__control:hover {
  background-color: #9efff5;
}

.slider__control-line {
  position: absolute;
  top: 50%;
  left: 23px;
  width: 3px;
  height: 14px;
  transform-origin: 50% 0;
  transform: rotate(-45deg);
}

.slider__control-line:nth-child(2) {
  transform: translateY(1px) rotate(-135deg);
}

.slider__control--right .slider__control-line {
  left: 37px;
  transform-origin: 50% 0;
  transform: rotate(45deg);
}

.slider__control--right .slider__control-line:nth-child(2) {
  transform: translateY(1px) rotate(135deg);
}

.slider__control-line:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
  transition: background-color 0.3s;
}

.slider__control:hover .slider__control-line:after {
  background-color: #211c37;
}

.slider__control.a--rotation .slider__control-line:after {
  animation: arrowLineRotation 0.49s;
}

/* media */

@media (max-width: 700px){
  .slider__control {
    left: 30%;
    width: 10%;
    height: 20%;
    margin-left: -26%;
  }

  .slider__control--right {
    left: 110%;
  }

  .slider__control-line {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 3px;
    height: 14px;
  }

  .slider__control--right .slider__control-line {
    left: 65%;
  }
}

/* keyframes */

@keyframes arrowLineRotation {
  to {
    transform: rotate(180deg);
  }
}

@keyframes arrowLineRotationRev {
  to {
    transform: rotate(-180deg);
  }
}

.slide {
  display: block;
  position: absolute;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%);
  border-radius: 50%;
  transition: clip-path 0s 0.91s;
  clip-path: circle(30px at center);
}

.slide.s--active {
  z-index: 1;
  transition: clip-path 1.3s;
  clip-path: circle(120vmax at center);
}

.slide:nth-child(1) .slide__inner {
  background-image: url("image/Илья.jpg");
}

.slide:nth-child(2) .slide__inner {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-3.jpg");
}

.slide:nth-child(3) .slide__inner {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-4.jpg");
}

.slide__inner {
  display: block;
  position: absolute;
  width: 100%;
  height: inherit;
  background-size: cover;
  background-position: center center;
}

/* footer */

.wrapper {
	position: relative;
	min-height: 100%;
}

.content {
	padding-bottom: 40px;
}

.footer {
    height: 30px;
    background: #211c37;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.rights {
    margin-top: 0px;
}

a {
    color: #9efff5;
    text-decoration: none;
}
