html {
    background: #fff;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

/*HEADER*/
header {  
    background: #473FA8;
}

nav{
    max-height: 5px;
    display: inline-block;
}

nav a:not(:last-child){
    letter-spacing: 1px;
    color: #fff;
    font-size: 28px;
    bottom: 15px;
}

.social_nets{
    margin-left:10%;
    margin-bottom:10%;
    filter: grayscale(50%);
}

.social_nets:hover{
    filter: grayscale(0%);
}

#header-menu {
    text-align: right;
    margin: 5px;
}

.link-hover-center a{
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.link-hover-center a:not(:last-child):after {
    display: block;
    content: "";
    background-color: #fff;
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.link-hover-center a:hover:after,
.link-hover-center a:focus:after {
    width: 100%;
}

.logo {
    margin-top: 5px;
    padding-left: 10px;
}

.active {
    border-bottom: 3px solid #fff;
}

/*body*/
body {
    background-color:#473FA8 !important;
    height: 100%;
}

.responsive{
    width: 100%;
    margin: 0 1em 1em 0;
}

.information {  
    display: grid;  
    grid-gap: 10px;  
    grid-template-columns: repeat(auto-fit, minmax(400px, 0.5fr));
    justify-content: center;
    color: #80DDD9;
    font-family: 'Comfortaa', cursive;
    font-size: 23px;
}

h1{
    text-align: center;
    font-size: 30px;
}

/*carousel*/
.carousel {
    padding: 20px;
    -webkit-perspective: 500px;
            perspective: 500px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.carousel > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}

.carousel figure {
    margin: 0;
    width: 40%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    cursor: pointer; 
}

.carousel figure img {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0px;
}

.carousel figure img:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
}

.carousel nav {
    margin: 10px 0 0;
}

.carousel nav button {
    margin: 0 5px;
    cursor: pointer;
    font-size: 25px;
    color: #80DDD9;
    background: none;
    border: 0px;
    letter-spacing: 1px;
}

/* Expanding image text */
.clean{
    display: none;
    text-align: center;
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
    color: #80DDD9;
}

/*FOOTER*/

.wrapper {
	position: relative;
	min-height: 100%;
}

.content {
	padding-bottom: 60px;
}

.footer {
    height: 40px;
    background: #473FA8;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.rights {
    margin-top: 10px;
}

a {
    color: white;
    text-decoration: none;
}
