html {
    background: #fff;
}
/*HEADER*/
header {  
    background: #473FA8;   
}

nav {
    letter-spacing: 1px;
    height: 50px;
    color: #fff;
    font-size: 30px;
    border-spacing: 25px;
    display: inline-block;
    margin-left: auto;
}


#header-menu {
    text-align: right;
    margin: 15px;
}

.link-hover-center a {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
.link-hover-center a:after {
    display: block;
    content: "";
    background-color: #fff;
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.link-hover-center a:hover:after,
.link-hover-center a:focus:after {
    width: 100%;
}

.logo {
    margin-top: 5px;
}

.active {
    border-bottom: 3px solid #fff;
}

/*FOOTER*/
.footer {
    background: #473FA8;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.social_nets{
    margin-top: 25px;
}

.social_nets a{
    filter: grayscale(50%);
}

.social_nets a:hover{
    filter: grayscale(0%);
}

.rights {
    margin-top: 20px;
}

a {
    color: white;
    text-decoration: none;
}

